<div class="container">
  <div class="col-md-4">
    <% if policy(@wiki).update? %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary' %>
    <% end %>
      <%= link_to "Delete Post", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Do you want to delete this wiki?' } %>
  </div>
  <h1 align="center">
    <%= markdown_to_html @wiki.title %>
  </h1>
  <% if current_user.admin? || current_user.premium? %>
    <div class="col-md-3">
      <h4>Collaborators:</h4><%= @collaborations %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
    <p><%= markdown_to_html @wiki.body %></p>
    </div>
  </div>
</div>
